@model IEnumerable<AKG_OEC.Models.Plot>

@{
    ViewData["Title"] = "Plot Listing";
}

@if (ViewBag.cropName != null)
{
    <h2>Plot Listing for @ViewBag.cropName Crop</h2>
}
else if (ViewBag.varietyName != null)
{
    <h2>Plot Listing for @ViewBag.varietyName Variety</h2>
}
else
{
    <h2>Plot Listing</h2>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="IndexOrderFarm">@Html.DisplayNameFor(model => model.Farm)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variety.Crop)
            </th>
            <th>
                <a asp-action="IndexOrderVariety">@Html.DisplayNameFor(model => model.Variety)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlanted)
            </th>
            <th>
                <a asp-action="IndexOrderCec">@Html.DisplayNameFor(model => model.Cec)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Farm.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Variety.Crop.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Variety.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePlanted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cec)
                </td>
                <td>
                    @foreach (var treatment in item.Treatment)
                    {
                        @Html.DisplayFor(modelItem => treatment.Name)
                        <br>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlotId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlotId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlotId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
